@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Irish Grover", system-ui;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-color: #618264;
  --green: #27fb27;
  --secondary-color: #b89130;
  --highlight-color: #00ff00;
  --opaque-bg: rgba(255, 255, 255, 0.9);
  --redish: #f93f3f;
  color-scheme: light dark;
  color: #000;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fit-content {
  height: fit-content;
}