@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
 */

:root {
  line-height: 1.5;
  font-weight: 400;
  --primary-color: #16423C;
  --green: #6A9C89;
  --secondary-color: #b89130;
  --highlight-color: #00ff00;
  --light-green: #C4DAD2;
  --opaquebg: #E9EFEC;
  --redish: #f93f3f;
  color-scheme: light dark;
  color: var(--primary-color);
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fit-content {
  height: fit-content;
}